# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# 불필요 build 폴더 예외 처리
!**/src/main/**/build/
!**/src/test/**/build/

# HELP 파일
HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Application 설정 (보안)
src/main/resources/application.properties

### Logs ###
*.log

### OS ###
.DS_Store